.text {
    font-weight: 700;

    &__header {
    display: inline;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    font-weight: 700;

    }

    &__banner {
        
        &-highlighted {
        font-size: 3vw;
        line-height: 16px;
        letter-spacing: 0.4000000059604645px;
        text-align: left;
        display: inline;
        background: linear-gradient(86.01deg, #00F4E2 0%, #00FF7F 100%);
        padding: 4px;
        border-radius: 5px;
        }

        &-principal {
        font-size: 7vw;
        text-align: left;
        margin: 0;
        margin-top: 10px;
        }

    }

    &__terms {
       text-decoration: underline;
       font-size: 1.2vh;
    }

    &__copyright {
        align-self: self-start;
        justify-self: center;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.1px;
    }
}