@import '../../../styles/mixins.scss';
.logo {
    display: inline;
    margin: auto;

    &__footer {
        align-self: self-end;

        @include respond-to(992px) {
            margin: 0;
            justify-self: self-start;
            align-self: self-start;
            padding: 3rem;
          }
    }

    &__phone {

        @include respond-to(1200px) {
            width: 2rem;
          }
    }
}