.paragraph {
    margin: 0.3em;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.hr {
    width: 100%;
    color: rgba(204, 209, 238, 1);
    height: 0px;
    border: 0.01px solid #CCD1EE;
}